html
  head
    title Registration Success | express-yaas Demo
  body
    h1 You have successfully registered an account!
    p
      |Your new username is 
      b #{username}
      |.
    a(href='/') Home